.ddsmoothmenu{
font: bold 12px Verdana;
background: none; /*background of menu bar (default state)*/
width: 100%; padding:0;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
background:url(../images/divider.jpg) no-repeat ; height:32px;
padding:2px 24px;}




/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
background:none; /*background of menu items (default state)*/
color:#000000;
padding:8px 0 0 0; 


color: #2d2b2b;
text-decoration: none; float:left;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: #000000;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: none; 
color:#7f0c0b;
}

.ddsmoothmenu ul li a:hover{
background:none; /*background of menu items during onmouseover (hover state)*/
color:#7f0c0b;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
margin:0; padding:0;
background:none;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float:left;
margin:0; padding:3px 0;
background:none;


}

.ddsmoothmenu ul li ul li a{
	font-weight:normal; background: url(../images/dropdown-menu-bg.jpg) repeat-x; height:17px;}
	
	
.ddsmoothmenu ul li ul li a:hover{
background:#a80e0c; /*background of menu items during onmouseover (hover state)*/
color:#ffffff;

}




/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font: normal 13px Verdana;
width: 270px; /*width of sub menus*/
padding: 10px;
margin: 0;
border-top-width: 0;
border-bottom:1px solid #afadad;
border-left:1px solid #afadad;
border-right:1px solid #afadad;
}





